<div class="container_dashboard">
    <div class="container_menu-dash">
        <div class="logo_dash">
            <img src="https://i.postimg.cc/NFyF3610/OG-SHOES.png" alt="" />
        </div>

        <ul class="menu_dash">

            <li class="menu_item-dash"><a class="menu_link-dash" href="http://localhost:3000/admin/products-panel">Productos</a></li>

            <li class="menu_item-dash"><a class="menu_link-dash" href="#">Pedidos</a></li>

            <li class="menu_item-dash container_submenu">
              <a class="menu_link-dash btn_submenu" href="">Estadisticas</a>

              <ul class="submenu_dash">
                <li class="menu_item-submenu">
                  <a href="" class="submenu_link"> SB </a>
                </li>
                <li class="menu_item-submenu">
                  <a href="" class="submenu_link"> NBA </a>
                </li>
                <li class="menu_item-submenu">
                  <a href="" class="submenu_link"> Nike Dunk's </a>
                </li>
              </ul>
            </li>
    
            <li class="menu_item-dash container__submenu">
              <a class="menu_link-dash btn_submenu" href="#">Usuarios</a>
    
              <ul class="submenu_dash">
                <li class="menu_item-submenu">
                  <a href="" class="submenu_link"> Running </a>
                </li>
                <li class="menu_item-submenu">
                  <a href="" class="submenu_link"> Ciudad </a>
                </li>
                <li class="menu_item-submenu">
                  <a href="" class="submenu_link"> Deportes </a>
                </li>
                <li class="menu_item-submenu">
                  <a href="" class="submenu_link"> Montaña </a>
                </li>
              </ul>
            </li>
    
            <li class="menu_item-dash">
              <a class="menu_link-dash" href="">Promociones</a>
            </li>

        </ul>
    </div>

    
</div>