
<div class="container_saludo">
    <h1 class="saludo_admin">Bienvenido! <%= user.name %></h1>
    <p>Que quieres hacer hoy?</p>
</div>

<div class="container_cards">
    
    <div class="cards_ventas">
        
        <div class="card ventas_semanales">

            <div class="group_card">
                <span>40</span>
                <h3 class="title_card">Ventas semanales</h3>
            </div>

            

            <div class="progress_card">

                <p>Progreso en meta</p>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>

            </div>
            
        </div>

        <div class="card ventas_mensuales">
            <div class="group_card">
                <span>40</span>
                <h3 class="title_card">Ventas mensuales</h3>
            </div>

            

            <div class="progress_card">

                <p>Progreso en meta</p>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>

            </div>






        </div>

        <div class="card nuevos_usuarios">
            <div class="group_card">
                <span>40</span>
                <h3 class="title_card">Nuevos usuarios</h3>
            </div>

            

            <div class="progress_card">

                <p>Progreso en meta</p>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>

            </div>

        </div>

        <div class="card products_stock">
            <div class="group_card">
                <span>40</span>
                <h3 class="title_card">Productos out stock</h3>
            </div>

            

            <div class="progress_card">

                <p>Progreso en meta</p>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>

            </div>

        </div>


    </div>

    <div class="container_promociones">

        <div class="container_card-prom">

            <div class="card_prom">
                <h5 class="title_card-prom">Personaliza las ofertas de tus productos</h5>

                <p>Prepara tus ofertas y eleji el dia en el que la lanzaras y cuando terminara</p>
                

                <button class="btn_config-ofertas"> Configurar ofertas</button>
            </div>

        </div>



    </div>





</div>


