<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/index.css">
</head>
<body class="container">

  <div class="col-xs-8 col-xs-ofset-2">

    <h1 class="text-center">Escribe una nota</h1>
    
    <form method="post">

      <div class="form-group">
        <label for="title">Titulo de la tarea</label>
        <input 
        type="text" 
        name="title" 
        id="title" 
        class="form-control" 
        placeholder="Ingresa un nuevo titulo" 
        required>
      </div>

      <div class="form-group">
        <label for="descripcion">Describa su tarea</label>
       <textarea  
       name="descripcion" 
       id="descripcion" 
       class="form-control" 
       placeholder="Ingresa tu tarea" 
       required
       rows="3"></textarea>

      </div>

      <input type="submit" value="Enviar" class="btn btn-primary">
    </form>
  </div>

  
</body>
</html>

