<html>
  <%- include ('partials/head', {siteTitle:"SignIn", cssRoute:"signIn/app.css"
  }) %>

  <body>
    <form action="/login/register" method="post">
      <div class="form_group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre_register" name="nombre" />
      </div>

      <div class="form_group">
        <label for="edad">Edad</label>
        <input type="number" id="edad_register" name="edad" />
      </div>

      <div class="form_group">
        <label for="email">Email</label>
        <input type="email" id="email_register" name="email" />
      </div>

      <div class="form_group">
        <label for="password">Contraseña</label>
        <input type="password" id="password_register" name="password" />
      </div>

      <input type="submit" id="submit_register" />
    </form>

    <%- include ('./partials/footer') %>
  </body>
</html>
