<div class="container-form">
  <h2 id="btnAddProduct">Añadir variaciones de productos</h2>


  <!--CREANDO VARIACIONES -->
  <form
    class="fom-new-product"
    id="formIsertProduct"
    method="post"
    action="/admin/insert-variations"
  >
    <div class="inputs-left">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="nameItem" />
      </div>

      <div class="form-group">
        <label>Valores separados por coma</label>

        <input type="text" name="value" id="valueItem" />
      </div>
    </div>

    <div class="inputs-group">
      <input
        type="button"
        value="Guardar atributos"
        id="btnAddVariants"
        class="button-submmit"
      />
    </div>
  </form>
</div>



<div class="container-form">
  <h2>Crear variaciones para el producto <%=product.title%></h2>

  <form action="/admin/insert-variations" method="post">

    <div class="form-group">
      <label for="">Elejir atributo</label>
      <input
        type="text"
        multiple
        placeholder="Elejir terminos"
        name="atribute"
        list="listAtributes"
        id="atributesInput"
        class=""
      />
      <datalist id="listAtributes"></datalist>
    </div>

    
    <div class="form-group">
      <label for="values">Elejir valores</label>
      <input
        type="text"
        hidden
        placeholder="Valores"
        name="values"
        id="valuesInput"
        class=""
      />
    </div> 

    <input type="number" hidden name="id" id="idProduct" value=<%= product.id %> >

    <div class="container-values"> </div>
    
    <input type="submit" id="sendVariations" value="Crear variaciones">

    <input type="button" id="addVariation" value="Añadir otra variacion">
    

  </form>

</div>