<div class="container-list">
  <h2 id="btnListProducts">Productos en stock</h2>
  <div class="container-ul">
    <ul class="ul-item">
      <li class="li-item">
        <div class="container-product"></div>
      </li>
    </ul>
  </div>

  <div class="container-table">
    <table class="table-data">

      <tbody class="t-body">
        <tr class="cols-table">
          <th class="col-data">Producto</th>
          <th class="col-data">Id</th>
          <th class="col-data">Precio</th>
          <th class="col-data">Talles</th>
          <th class="col-data">Stock</th>
          <th class="col-data">Unidades vendidas</th>
        </tr>
      </tbody>


    </table>
  </div>
</div>
