.banner {
  width: 95%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__principal {
  margin: 0 auto 40px;
  background-image: url(../../images/portada-mobile.png);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  row-gap: 20px;
  height: 60vh;
}
.banner__principal h1 {
  font-size: 2em;
  color: white;
  padding-left: 30px;
  text-shadow: 5px 5px 5px #b7b0ae;
}
.banner__principal input {
  font-size: 1em;
  padding: 10px 30px;
  margin: 20px 20px;
  border: none;
  background-color: #E14521;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}
@media (min-width: 992px) {
  .banner__principal input {
    margin: 30px auto;
  }
}
@media (min-width: 992px) {
  .banner__principal {
    margin: 0 auto 60px auto;
    height: 85vh;
    background-size: cover;
    background-image: url(../../images/banner-home.webp);
  }
  .banner__principal h1 {
    font-size: 4em;
  }
}

.banner__pegasus {
  width: 95%;
  overflow-x: hidden;
  height: 60vh;
  margin: 0 auto;
  background-image: url(../../images/pegasus39.webp);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  row-gap: 20%;
}
.banner__pegasus h2 {
  font-size: 2em;
  margin: 0;
  color: white;
  font-family: "Futura condensa";
  transform: rotate(90deg);
  text-shadow: 0px 0px 5px white;
  text-transform: uppercase;
}
@media (max-height: 531px) {
  .banner__pegasus h2 {
    transform: rotate(0);
    padding: 20px 10px;
  }
}
@media (min-width: 992px) {
  .banner__pegasus {
    height: 70vh;
    row-gap: 30%;
  }
  .banner__pegasus h2 {
    transform: rotate(0);
    font-size: 4em;
    padding: 0 0 0 30px;
  }
}

.banner__pega--input {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-between;
  padding: 20px;
}
@media (min-width: 992px) {
  .banner__pega--input {
    justify-content: flex-start;
    column-gap: 20px;
  }
}

.banner__btn {
  font-size: 1em;
  padding: 10px 25px;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 300;
}

.banner__vermas {
  background: #E14521;
}

.banner__comprar {
  background: #14213D;
}

.snkrs {
  width: 95%;
  margin: 60px auto;
}
.snkrs h2 {
  margin-bottom: 30px;
}

.banner__snkrs {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-image: url(https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_1824,c_limit/85b1cd26-23ff-44a1-80b6-360ce24cf5ed/sitio-web-oficial-de-nike.jpg);
}
@media (min-width: 992px) {
  .banner__snkrs {
    height: 70vh;
    padding-top: 100px;
  }
  .banner__snkrs input {
    padding: 10px 40px;
  }
}

.snkrs__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.snkrs__title h3 {
  font-family: "Futura condensa";
  font-size: 4em;
  letter-spacing: -4px;
}
.snkrs__title p {
  margin-top: 20px;
  text-align: center;
}
.snkrs__title input {
  border: none;
  background: #E14521;
  padding: 5px 20px;
  border-radius: 25px;
  color: white;
}

.tienda {
  width: 95%;
  margin: 0 auto;
}
.tienda h2 {
  font-size: 2em;
  margin: 30px 0;
}

.grid__tienda {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media (min-width: 992px) {
  .grid__tienda {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
  }
}
@media (max-width: 354px) {
  .grid__tienda {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid__tienda--producto {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}
.grid__tienda--producto img {
  width: 100%;
}
.grid__tienda--producto span {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}
.grid__tienda--producto h3 {
  text-align: center;
  font-size: 1em;
}
@media (min-width: 992px) {
  .grid__tienda--producto {
    min-height: 300px;
  }
}

.block__inputs--tienda {
  display: flex;
  row-gap: 10px;
  margin-top: 15px;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}
.block__inputs--tienda input {
  font-size: 1em;
  padding: 5px 30px;
  border: none;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 300;
  background: #E14521;
}
.block__inputs--tienda i {
  font-size: 1em;
  padding: 5px 10px;
  color: #353535;
  background: #D4D4D4;
  border-radius: 20px;
}

.sport__genero {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .sport__genero {
    width: 95%;
  }
}

.contenedor__sport {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 992px) {
  .contenedor__sport {
    flex-direction: row;
    column-gap: 20px;
  }
}

.sport__section {
  width: 100%;
  height: 650px;
  margin-top: 20px;
}

.sport__back {
  width: 100%;
  height: 80%;
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
}

.sport__mujer {
  background-image: url(../../images/sport-atada.jpg);
}

.sport__hombre {
  background-image: url(../../images/sport-skate.jpg);
}

.sport__info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 20px;
}
.sport__info h4 {
  font-size: 1.2em;
  font-weight: 500;
}
.sport__info input {
  width: 30%;
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 300;
  background: black;
}
@media (min-width: 992px) {
  .sport__info input {
    width: 20%;
  }
}