<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <title><%= siteTitle %> </title>
  <link rel="shortcut icon" href="https://i.postimg.cc/NFyF3610/OG-SHOES.png" type="image/x-icon">

  <link rel="stylesheet" href="/css/<%= cssRoute %>">
  <link rel="stylesheet" href="/css/normalize.css" >
  <link rel="stylesheet" href="/css/header_footer/app.css">
  <link rel="stylesheet" href="/css/cart/cart_sidebar.css">

  <script
    src="https://kit.fontawesome.com/76d1a4479f.js"
    crossorigin="anonymous"
  ></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" >
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
  <link
    href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@100;300;400;500;700;900&family=Rubik+Mono+One&display=swap"
    rel="stylesheet"
  />

  
  <script src="../../js/anime.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
  
  <script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
  
  <script src="/js/utils/toastr.min.js"></script>
  <link rel="stylesheet" href="/css/toastr.min.css">
  <script src="/js/utils/createAlertsToastr.js"></script>
  

  <script src="/js/utils/querySelector.js"></script>
  <script src="/js/utils/tooltips.js"></script>
    
  <script src="/js/utils/convertNumber.js"></script>
  
  <script src="/js/home/animations/animationsCartUser.js"></script>

  <script src="/js/home/templates/templateHeaderLogin.js"></script>
  <script src="/js/home/templates/templateCartLayout.js"></script>
    

  
  <script src="/fetchLogin.js"></script>
  <script src="/fetchCart.js"></script>

  <script src="/js/home/fetch/setUserData.js"></script>
  <script src="/js/home/fetch/getCart.js"></script>
</head> 