<footer>
    <div class="container__footer">
      <div class="container-menus">
        <div class="menu__col">
          <div class="footer__navegacion">
            <h5>Navegacion</h5>
            <div class="enlaces">
              <ul class="footer__nav">
                <li><a class="link__nav" href="#">Inicio</a></li>
                <li><a class="link__nav" href="#">Productos</a></li>
                <li><a class="link__nav" href="#">Colecciones</a></li>
                <li><a class="link__nav" href="#">Contacto</a></li>
                <li><a class="link__nav" href="#">Preguntas</a></li>
              </ul>
            </div>
          </div>

          <div class="footer__navegacion">
            <h5>Marcas</h5>
            <div class="enlaces">
              <ul class="footer__nav">
                <li><a class="link__nav" href="#">Nike</a></li>
                <li><a class="link__nav" href="#">Adidas</a></li>
                <li><a class="link__nav" href="#">New Balance</a></li>
                <li><a class="link__nav" href="#">Jordan</a></li>
                <li><a class="link__nav" href="#">Converse</a></li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="menu__col2">

          <div class="footer__navegacion ">
            <h5>Preguntas Frecuentes</h5>
            <div class="enlaces">
              <ul class="footer__nav">
                <li><a class="link__nav" href="#">Politicas de pagos</a></li>
                <li><a class="link__nav" href="#">Politicas de privacidad</a></li>
                <li><a class="link__nav" href="#">Politicas de envios</a></li>
                <li><a class="link__nav" href="#">Otras preguntas</a></li>
                <li><a class="link__nav" href="#">Cookies</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__navegacion newselter">
        <p>
          Suscribete a nuestro newselter para recibir todas nuestras ofertas
        </p>
        <input
          type="text"
          class="input__email"
          placeholder="Ingrese su email"
        />
        <input type="button" class="input__suscribirse" value="Suscribirse" />

        <p class="copyright-movile">
          © Copyright 2022 - Todos los derechos reservados
        </p>
      </div>

      <div class="container__segundo-footer">
        <div class="logo__redes">
          <img
            src="/images/LOGO-GRIS.png"
            width="150"
            height="100px"
            alt="logo"
          /> 

          <div class="redes">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-whatsapp"></i>
          </div>
        </div>

      </div>

      <div class="copyright">
        <p>© Copyright 2022 - Todos los derechos reservados</p>
      </div>
      
    </div>
  </footer>
