<!--HEADER-->
<header id="header">

    <div class="header__inputs">
      <a href="/login">
        <input class="iniciar" type="button" value="Iniciar sesion" />
      </a>
      <input class="registrarse"" type="button" value="Registrarse">
    </div>

    <div class="menu">
      <div class="header__logo">

        <a href="http://localhost:3000/home">
          <img
            src="/images/LOGO-BLANCO.png"
            alt=""
            class="header__logo--img"
          />
        </a>

      </div>

      <nav class="header__nav">
        <ul class="container__menu">
          <i class="close__menu fa-solid fa-xmark"></i>
          <li class="menu__item"><a class="menu__link" href="#">Preguntas</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Contacto</a></li>

          <li class="menu__item container__submenu">
            
            <a class="menu__link btn__submenu"  href="#">Colecciones</a>
            
            <ul class="submenu ">
              <li class="menu__item-submenu">
                <a href="" class="submenu__link"> SB </a>
              </li>
              <li class="menu__item-submenu">
                <a href="" class="submenu__link"> NBA </a>
              </li>
              <li class="menu__item-submenu">
                <a href="" class="submenu__link"> Nike Dunk's </a>
              </li>
            </ul>
          </li>
          

          <li class="menu__item container__submenu">

            <a class="menu__link btn__submenu" href="#">Categorias</a>

            <ul class="submenu">
              <li class="menu__item-submenu">
                <a href="" class="submenu__link"> Running </a>
              </li>
              <li class="menu__item-submenu">
                <a href="" class="submenu__link"> Ciudad </a>
              </li>
              <li class="menu__item-submenu">
                <a href="" class="submenu__link"> Deportes </a>
              </li>
              <li class="menu__item-submenu">
                <a href="" class="submenu__link"> Montaña </a>
              </li>
            </ul>
          </li>

          <li class="menu__item"><a class="menu__link" href="http://localhost:3000/home">Inicio</a></li>
          
          <div class="iniciar__movile">
            <p>Hazte miembro de nuestra pagina para obtener los mejores productos del deporte</p>
            <div class="block__input">

              <input class="unete" type="button" value="Únete">
              <input class="iniciar__secion" type="button" value="Iniciar seción">

            </div>
          </div>
        </ul>


        <i class="open__menu fa-solid fa-bars"></i>

      </nav>

      <div class="re">

      </div>

    </div> 
  </header>
  <!-- FIN HEADER -->